/* Styling for header */
h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  text-align: center;
  color: #397754;
  font-size: 3.3rem;
}

/* Styling for navbar */
#navbar {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #775439;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 25%;
  margin: auto;
}

hr {
  width: 30%;
  border: 3px solid #d3b38c;
  margin: auto;
}

/* Styling for contact icons */

#contact {
  width: 30%;
  text-align: left;
}

.bi {
  color: black;
  font-size: 1.9rem;
}

.bi:hover {
  color: #775439;
}

/* Headshot */
#headshot {
  max-width: 82%;
  max-height: auto;
}

/* Sets width of bio */
#aboutme{
  width: 80%;
  margin: auto;
}

/* Styling for names/titles (including in resume) */
#name {
  font-family: 'Inter', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  text-align: left;
  color: #775439;
}

/* Styling for all body text */
p {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: left;
  color: black;
}

/* Styling for clips page text*/


/* Sets style for links */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #397754;
}

#navlink {
  color: #775439;
}

#navlink:hover {
    color: #397754;
}

#headerlink {
    color: #397754;
}

/* Resume and clips section styling */

#resume {
  width: 80%;
  margin: auto;
}

.sectionhead {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 850;
  color: #775439;
}


.location {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: left;
  color: #397754;
}

.role {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: left;
  color: #775439;
}

.responsibilities {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: left;
  line-height: 150%;
  color: black;
}

#clips {
  width: 80%;
  margin: auto;
}
