/* Styling for header */
h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  text-align: center;
  color: #eb6b40;
  font-size: 4em;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #397754;
  padding-bottom: 25px;
  font-size: 2em;
}

/* Sets width of body */
.container {
  max-width: 70%;
}

/* Styling for section subheads */
.subhead {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  color: #397754;
  max-width: 80%;
}

/* Styling for navbar */
#navbar {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 0.6em;
  padding-top: 9px;
}

hr {
  color: #397754;
  width: 30%;
  border: 3px solid #eb6b40;
  margin: auto;
}

/* Styling for contact icons */

#contact {
  width: 30%;
  margin: auto;
}

.bi {
  color: black;
}

.bi:hover {
  color: gray;
}

/* Headshot */
#headshot {
  border-radius: 50%;
  max-width: 70%;
  max-height: auto;
  border: 5px solid #eb6b40;
}

/* Sets width of bio */
#aboutme{
  width: 80%;
  margin: auto;
}

/* Styling for names/titles (including in resume) */
#name {
  font-family: 'Inter', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-align: left;
  color: #eb6b40;
}

/* Styling for all body text */
p {
  font-family: 'Inter', sans-serif;
  font-size: 0.6em;
  font-weight: 300;
  text-align: left;
  color: black;
}

/* Sets color for links */
a {
  color: black;
}

a:hover {
  color: gray;
}

/* Resume section styling */

#resumebreak {
  color: #397754;
  width: 80%;
  border: 3px solid #eb6b40;
  margin: auto;
}

.location {
  font-family: 'Inter', sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  text-align: left;
  color: #397754;
}

.role {
  font-family: 'Inter', sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  text-align: left;
  color: #eb6b40;
}

.responsibilities {
  font-family: 'Inter', sans-serif;
  font-size: 0.5em;
  font-weight: 300;
  text-align: left;
  color: black;
}
